# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.1

commands:
  build:
    description: "Build and run the tests"

    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber-wire.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber-wire.gemspec" }}

  test:
    description: "Run tests"
    steps:
      - run:
          name: run tests
          command: |
            bundle exec rake

  test_allow_failure:
    description: "Run tests (allow failure so workflow is not marked as failed)"
    steps:
      - run:
          name: run tests with allowed failure
          command: |
            set -o errexit
            bundle exec rake
            set -o errexit

jobs:
  build-ruby-2_5:
    docker:
      - image: circleci/ruby:2.5

    working_directory: ~/repo
    steps:
      - build
      - test

jobs:
  build-ruby-2_5-released-gems:
    docker:
      - image: circleci/ruby:2.5

    working_directory: ~/repo
    environment:
      CUCUMBER_RELEASED_GEMS: yes
    steps:
      - build
      - test

  build-ruby-2_6:
    docker:
      - image: circleci/ruby:2.6

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_7:
    docker:
      - image: circleci/ruby:2.7

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-latest:
    docker:
      - image: circleci/ruby:latest

    working_directory: ~/repo
    steps:
      - build
      - test_allow_failure

workflows:
  version: 2

  nightly-build:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - master

    jobs:
      - build-ruby-2_5
      - build-ruby-2_6
      - build-ruby-2_7

  build:
    jobs:
      - build-ruby-2_5
      - build-ruby-2_6
      - build-ruby-2_7
      - build-ruby-latest
