name: Test cucumber-wire

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 5 * * *"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: ['3.1', '3.2', '3.3', '3.4', '3.5']
        include:
          - os: macos-latest
            ruby: '3.4'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./.github/actions/test-ruby
        with:
          ruby-version: ${{ matrix.ruby }}
